@use '../base/colors' as c;

button {
  display: grid;
  place-items: center;

  padding: 0.4rem 0.8rem;
  border-radius: 0.2rem;
  border: none;

  cursor: pointer;

  &:hover {
    filter: brightness(1.2);

    transition: filter 0.4s ease;
  }
}

// Botones directos en formulario

form > button {
  display: grid;
  place-items: center;

  padding: 0.52rem 0.8rem;
  border-radius: 0.4rem;

  font-family: inherit;
  font-size: 0.92rem;
  font-weight: 600;
  letter-spacing: 0.05rem;

  border: none;
  background-color: c.$color-primary-600;
  color: c.$color-neutral-200;

  margin-top: 0.64rem;

  cursor: pointer;

  &:disabled {
    cursor: auto;
    filter: saturate(100%) contrast(80%);
  }

  .loading-spinner {
    width: 1.5rem;

    svg * {
      fill: hsl(c.$hue-primary, 36%, 24%) !important;
    }
  }
}

// Boton para cerrar sesion

.signout-button {
  width: 5.2rem;
  height: 1.88rem;

  color: c.$color-neutral-800;
  background-color: c.$color-neutral-1200;

  .loading-spinner {
    width: 1rem;

    svg * {
      fill: c.$color-neutral-800 !important;
    }
  }
}
