@use '../base/colors' as c;

.form-component {
  display: flex;
  flex-direction: column;
  gap: 0.64rem;

  width: 100%;
  border-radius: 0.4rem;

  .form-element {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

    // background-color: red;

    label {
      font-size: 0.88rem;
      color: c.$color-neutral-600;
      margin-left: 0.2rem;
    }

    input {
      padding: 0.64rem 0.8rem;
      border-radius: 0.4rem;

      color: c.$color-neutral-600;
      outline: 1px solid transparent;
      border: 1px solid c.$color-neutral-1200;
      background-color: hsl(c.$hue-primary, 20%, 9.2%);

      transition: all 0.4s ease;

      &:focus {
        outline-color: c.$color-neutral-1000;
      }
    }
  }
}
