.loading-spinner {
  display: grid;
  place-items: center;

  aspect-ratio: 1;
  width: 4rem;

  &__spinner {
    width: 100%;
    height: 100%;

    animation: spin 1.6s linear infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
