@use '../base/typography' as *;
@use '../base/colors' as *;

.daily-quote {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  width: 100%;
  height: 160px;
  margin-bottom: 1rem;

  text-align: center;

  isolation: isolate;

  p {
    width: 72%;

    font-family: $font-secondary;
    font-size: 1.6rem;
    font-weight: 500;
    font-style: italic;
    line-height: 1.2;

    color: $color-neutral-900;
  }

  a {
    text-underline-offset: 2px;
    // color: $color-neutral-900;
    color: $color-primary-600;

    &:hover {
      filter: brightness(1.2);
    }
  }

  cite {
    font-family: $font-primary;
    font-size: 0.92rem;
    font-weight: 600;
    font-style: normal;

    // color: $color-neutral-1100;
  }

  // &::after {
  //   position: absolute;
  //   inset: 1.6rem;
  //   content: '';
  //   z-index: -10;

  //   filter: blur(2rem);
  //   opacity: 0.2;

  //   background-color: $color-neutral-1400;
  // }
}
