//  Global hue
$hue-primary: 212;

// Primary colors
$color-primary-100: hsl($hue-primary, 100%, 96%);
$color-primary-200: hsl($hue-primary, 100%, 88%);
$color-primary-300: hsl($hue-primary, 88%, 80%);
$color-primary-400: hsl($hue-primary, 88%, 72%);
$color-primary-500: hsl($hue-primary, 72%, 64%);
$color-primary-600: hsl($hue-primary, 72%, 56%);
$color-primary-700: hsl($hue-primary, 40%, 48%);
$color-primary-800: hsl($hue-primary, 40%, 40%);

// Neutral colors
$color-neutral-100: hsl($hue-primary, 20%, 100%);
$color-neutral-200: hsl($hue-primary, 20%, 92%);
$color-neutral-300: hsl($hue-primary, 20%, 88%);
$color-neutral-400: hsl($hue-primary, 20%, 80%);
$color-neutral-500: hsl($hue-primary, 20%, 72%);
$color-neutral-600: hsl($hue-primary, 20%, 64%);
$color-neutral-700: hsl($hue-primary, 20%, 56%);
$color-neutral-800: hsl($hue-primary, 20%, 48%);
$color-neutral-900: hsl($hue-primary, 20%, 40%);
$color-neutral-1000: hsl($hue-primary, 20%, 32%);
$color-neutral-1100: hsl($hue-primary, 20%, 24%);
$color-neutral-1150: hsl($hue-primary, 20%, 20%);
$color-neutral-1200: hsl($hue-primary, 20%, 16%);
$color-neutral-1250: hsl($hue-primary, 20%, 12%);
$color-neutral-1300: hsl($hue-primary, 20%, 8%);
$color-neutral-1400: hsl($hue-primary, 20%, 0%);

// --- State colors ---
$color-success: hsl(120, 60%, 45%);
$text-error: hsl(0, 72%, 64%);
$color-error: hsl(0, 12%, 12%);
$color-warning: hsl(45, 100%, 50%);
$color-info: hsl(210, 80%, 60%);
