@use '../base/colors' as c;
@use '../base/media-queries' as m;

.home-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  max-width: 520px;
  padding: 2.8rem 0;
  margin: 0rem auto;

  opacity: 0;
  filter: drop-shadow(0 0.4rem 0.8rem hsl(0, 0%, 0%, 0.2));
  animation: appear 1s ease 0.4s forwards;

  @include m.mobile-large {
    max-width: auto;
    padding: 2.8rem 8%;
  }

  .user-header {
    display: flex;
    align-items: center;

    justify-content: space-between;

    p {
      color: c.$color-neutral-600;
    }
  }

  .error-message {
    position: absolute;
    top: -1.6rem;
    left: 0;

    width: max-content;
    font-size: 0.8rem;
    font-weight: 300;

    color: c.$text-error;
  }
}
