@use '../base/colors' as c;

.auth-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;

  width: fit-content;
  margin: auto;
  padding: 1.6rem;
  padding-top: 2rem;
  border-radius: 0.8rem;

  border: 1px solid c.$color-neutral-1200;
  background-color: c.$color-neutral-1250;

  h3 {
    font-size: 1.2rem;
    font-weight: 500;

    color: c.$color-neutral-400;
  }

  .auth-page__nav {
    display: flex;
    align-items: center;
    gap: 0.28rem;

    width: 280px;
    padding: 0.2rem;
    border-radius: 0.4rem;

    background-color: c.$color-neutral-1200;

    a {
      display: grid;
      place-items: center;
      width: 100%;

      font-size: 0.88rem;
      font-weight: 500;
      letter-spacing: 0.02rem;
      text-decoration: none;

      padding: 0.4rem 0.8rem 0.52rem;
      border-radius: 0.28rem;

      color: c.$color-neutral-900;

      cursor: pointer;

      &.active {
        color: c.$color-neutral-400;
        background-color: hsl(c.$hue-primary, 20%, 9.2%);

        transition: all 0.4s ease;
      }
    }
  }

  .error {
    color: c.$text-error;
    margin-top: -0.64rem;
  }
}
