// Base
@use './base/colors' as *;
@use './base/typography' as *;
@use './base/media-queries' as m;

// Pages
@use './pages/home-page' as *;
@use './pages/auth-page' as *;

// Layouts
@use './components/header' as *;

// Components
@use './components/daily-quote' as *;
@use './components/todo-create' as *;
@use './components/todo-list' as *;
@use './components/todo-item' as *;
@use './components/todo-controls.scss' as *;
@use './components/form.scss' as *;
@use './components/input-password' as *;
@use './components/check-box' as *;
@use './components/loading-spinner' as *;
@use './components/buttons' as *;

// Normalize
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  min-height: 100dvh;

  color-scheme: dark;
  accent-color: $color-primary-600;
}

// Styles

body {
  position: relative;

  display: flex;
  flex-direction: column;

  color-scheme: light dark;
  accent-color: hsl($hue-primary, 80%, 50%);

  font-family: $font-primary;
  line-height: 1;

  // overflow-y: scroll;

  background-color: $color-neutral-1300;
}

body::before {
  position: fixed;
  inset: 0;
  content: '';
  z-index: -20;

  background: radial-gradient(at left top, $color-neutral-1250, hsl($hue-primary, 32%, 12%), $color-neutral-1300);
}

body::after {
  position: fixed;
  inset: 0;
  content: '';
  z-index: -10;

  background: url('/img/background-texture.webp');
  background-size: cover;

  opacity: 0.6;
  pointer-events: none;
  mix-blend-mode: multiply;
}

.todo-container {
  position: relative;

  display: flex;
  flex-direction: column;

  max-width: 520px;
  padding: 2.8rem 0;
  margin: 0rem auto;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
